<!DOCTYPE html>
<html>
    <head>
        <title>sum of two numbers</title>
    </head>
    <body>
        <form action="/sum" method="post">
        <h1> SUM OF NUMBERS </h1>
    <label for="first_number">ENTER THE FIRST NUMBER</label>
    <input type="number" name="first_number" id="first_number" required/><br>
    <label for="second_number">ENTER THE SECOND NUMBER</label>
    <input type="second_number" name="second_number" id="second_number" required/><br>
    <input type="submit" value="add"/>
   </body>
</form>
</html>